form {
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    margin: auto;
}

.errormessage {
    color: red;
    font-weight: lighter;
    padding: 1px;
    margin-left: auto;
}